<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

   <!-- <script type="text/javascript" src="js/angular.min.js"></script>-->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/formvalidate.js"></script>

</head>
<body ng-app="myform">

<div ng-controller="ExampleController">
    <form name="form" class="css-form" novalidate>
        Name:
        <input type="text" ng-model="user.name" name="uName" required="" />
        <br />
        <div ng-show="form.$submitted || form.uName.$touched">
            <div ng-show="form.uName.$error.required">Tell us your name</div>
        </div>

        Email:
        <input type="email" ng-model="user.email" name="uEmail" required="" />
        <br>
        <div ng-show="form.$submitted || form.uEmail.$touched">
            <div ng-show="form.uEmail.$error.required">Tell us your email</div>
            <div ng-show="form.uEmail.$error.email">this is worng email id </div>
        </div>

        Gender:
        <input type="radio" ng-model="user.gender" value="male" />male
        <input type="radio" ng-model="user.gender" value="female" />female
        <br />
        <input type="checkbox" ng-model="user.agree" name="userAgree" required="" />

        I agree
        <input ng-show="user.agree" type="text" ng-model="user.agreeSign" required="" />
        <br />
        <div ng-show="form.$submitted || form.userAgree.$touched">
            <div ng-show="!user.agree || ! user.agreeSign">Please Agree and Sign</div>
        </div>
        <input type="button" ng-click="reset(form)" value="Reset" />
        <input type="button" ng-click="update(user)" value="Save" />
    </form>
    <pre>User={{user | json }}</pre>
    <pre>Master={{master | json }}</pre>
</div>
</body>
</html>